html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.hidden-nav {
  max-height: 0;
  transition: all 0.4s ease;
}
.hidden-nav.show {
  max-height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section {
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: darken(1);
  scroll-margin-top: 66px; /* Offsets nav height when anchoring */
}
